

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" name="form" ng-submit="login(form)" novalidate>
                <fieldset>
                    <h2>Sign in with</h2>
                    <hr class="colorgraph">

                    <div class="form-group">
                        <input name="email" class="form-control input-lg" placeholder="Email" ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-lg" placeholder="Password" ng-model="user.password">
                    </div>
                    <span class="button-checkbox">
                        <button type="button" class="btn btn-default" data-color="info">Remember me</button>
                        <input type="checkbox" name="_spring_security_remember_me" id="remember_me" checked="checked" class="hidden">
                        <a href="" class="btn btn-link pull-right">Forgot password?</a>
                    </span>
                    <hr class="colorgraph">

                  <div class="form-group has-error">
                    <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                       Please enter your email and password.
                    </p>              
                    <p class="help-block">{{ errors.other }}</p>
                  </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign in">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a ui-sref="signup" class="btn btn-lg btn-primary btn-block">Signup</a>
                        </div>
                    </div>
                </fieldset>
            </form>
            <br><br><br><br>
        </div>
    </div>

</div>

<script>

    $(function(){
        $('.button-checkbox').each(function(){
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                 color = $button.data('color'),
                settings = {
                        on: {
                            icon: 'glyphicon glyphicon-check'
                        },
                        off: {
                            icon: 'glyphicon glyphicon-unchecked'
                        }
                };

            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });

            $checkbox.on('change', function () {
                updateDisplay();
            });

            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');
                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$button.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $button
                        .removeClass('btn-default')
                        .addClass('btn-' + color + ' active');
                }
                else
                {
                    $button
                        .removeClass('btn-' + color + ' active')
                        .addClass('btn-default');
                }
            }
            function init() {
                updateDisplay();
                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });
</script>
